
@font-face {
    font-family: avenir-bookbli;
    src: url(assets/fonts/AVENIRLTSTD-BOOKOBLIQUE.woff);
  }

  @font-face {
    font-family: avenir-heavy;
    src: url(assets/fonts/AVENIRLTSTD-HEAVY.woff);
  }

  @font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/AVENIRLTSTD-HEAVYOBLIQUE.woff);
  }

  @font-face {
    font-family: avenir-light;
    src: url(assets/fonts/AVENIRLTSTD-LIGHT.woff);
  }

  @font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/AVENIRLTSTD-LIGHTOBLIQUE.woff);
  }

  @font-face {
    font-family: avenir-m;
    src: url(assets/fonts/AVENIRLTSTD-MEDIUM.woff);
  }

  @font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/AVENIRLTSTD-MEDIUMOBLIQUE.woff);
  }

  @font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/AVENIRLTSTD-OBLIQUE.woff);
  }

  @font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/AvenirLTStd-Roman.woff);
  }

  @font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/);
  }

  @font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/AVENIRLTSTD-BOOKOBLIQUE.woff);
  }

  @font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/AVENIRLTSTD-BOOKOBLIQUE.woff);
  }